body {
  background-color: #2e2e2e; /* Dark grey background */
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
*{
    box-sizing: border-box;
}
.MuiInputBase-input {
  font-size: 1.2rem !important;
  padding: 12px 14px !important;
  color: white !important;
}
.MuiTextField-root {
  background-color: #3a3a3a;
  border-radius: 8px;
  /* width:  1000px;
  min-height: 200px; */
}

.MuiInputBase-root input {
  color: #ffffff;
   width:  1000px;
  min-height: 200px;
  font-size: 0.1rem
   
}
input, textarea {
  padding: 12px 14px;
  line-height: 1.5;
  height: auto;
  vertical-align: top;
  text-align: left;
  font-size: 1rem;
}

label.MuiInputLabel-root {
    
  font-size: 1.2rem !important;
  color: #ccc !important;  
  font-size: larger;
  color: #ded6d6 !important;
 
}

.MuiOutlinedInput-notchedOutline {
  border-color: #555;
   font-size: larger;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #888;
  font-size: larger;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff;
  font-size: larger;
}

button.MuiButton-outlined {
  border-color: #888;
  color: #ffffff;
  font-weight: 500;
  min-height: 100px;
  min-width: 400px;
}
#subject {
  border-color: #888;
  background-color: #888;
  background-color: #3a3a3a;
  color: #ded6d6 !important;
  font-weight: 500;
  min-height: 00px;
  min-width: 500px;
}
button.MuiButton-outlined:hover {
  background-color: #2b3529;
  border-color: #aaa;
  font-size: larger;
  
}

.MuiFormControl-root,
.MuiTextField-root {
  width: 100% !important;
}